div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    min-width: 400px;
}
.sticky{
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 2;
}
