<div>
    <h1>{{post!.title}}</h1>
    <h3>{{post!.description}}</h3>
    <form [formGroup]="commentForm">
        <mat-form-field appearance="fill">
            <mat-label>Comment</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10" matInput formControlName="comment"></textarea>
        </mat-form-field>
        <button mat-button (click)="submit()">Submit</button>
    </form>
    <div class="comment" *ngFor="let comment of comments">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{comment.userId}}</mat-card-title>
                <button class='menu-butt' *ngIf="currentUser == comment.userId" mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button (click)="deleteComment(comment.id)" mat-menu-item>Delete</button>
                </mat-menu>
            </mat-card-header>
            <mat-card-content>
                {{comment.text}}
            </mat-card-content>
        </mat-card>
    </div>
</div>